.get_in_touch {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 8rem;
  z-index: 1;
}

/*======= GET IN TOUCH USING NESTING PROPERTY ====== */
.get_in_touch_info {
  & h4 {

    margin-bottom: 12px;
    color: #fff;

    font-size: 38px;
    line-height: 1;
  }

  & p {

    
    font-weight: 300;
    text-align: justify;
    color: #f4f5f7;
  }
}

.get_in_touch_input {
  /* font-family: "caveat", cursive;; */
  & label {
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    color: #fff;
    font-weight: 300;
  }

  label:nth-of-type(4) {
    margin-bottom: 80px;
  }

  & label span {
    color: red;
  }

  & input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    color: #ccc;
    font-weight: 300;
    transition: border-bottom-color 0.3s ease;
  }

  & input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus {
    border-bottom-color: #0073d7; /* Change bottom border color when focused */
    outline: none; /* Remove default focus outline */
  }

  & input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="number"]::placeholder {
    color: #fff; /* Placeholder text color */
    opacity: 0.4;
    transition: transform 0.3s ease; /* Add transition for transform property */
    transform-origin: left bottom; /* Set transform origin to bottom left */
  }

  & input[type="text"]:focus::placeholder,
  input[type="email"]:focus::placeholder,
  input[type="number"]:focus::placeholder {
    color: #fff;
    transform: translateY(-100%);
  }

}

/* Tablet view */
@media only screen and (max-width: 1100px) {
  /*=================== GET IN TOUCH ================ */
  .get_in_touch {
    display: block;
  }

  .get_in_touch_info {
    margin-bottom: 2rem;
  }

  .get_in_touch_info h4 {

    
    font-weight: 300;
    line-height: 1.2;
  }

  .get_in_touch_input input[type="text"],
  .get_in_touch_input input[type="email"],
  .get_in_touch_input input[type="number"] {
    padding: 10px;

    margin-bottom: 20px;

  }

  .get_in_touch_input input[type="text"]:focus::placeholder,
  .get_in_touch_input input[type="email"]:focus::placeholder,
  .get_in_touch_input input[type="number"]:focus::placeholder {
    transform: translateY(-70%);
  }
}

@media only screen and (max-width: 450px) {
}
